:root {
    --primary-color: #6d213c;
    --primary-color-dark: #4c1e4f;  
    --secondary-color: #00406d;
    --secondary-color-dark: #002a48;  
    --tertiary-color: #538f5c;  
    --shadow-color: #000000cc;  
    --grey-accent: #c0c5c1;
    --off-white: #fafafa;  
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

.nav-menu {
  display: flex;
  gap: 1rem;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-menu a:hover {
  background-color: var(--primary-color-dark);
}

body {
    background-color: var(--off-white);
}

.body-main {
    background-color: white;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;
    padding-bottom: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 24px;
    padding-left: 200px;
    padding-right: 200px;
}
.p-main {
    padding-top: 75px;
}

.welcome {
    font-size: 98px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 75px;
}

.start-button {
    margin-left: 200px;
    border: 1px solid #6d213c;
    border-radius: 5px;
    padding: 5px 10px; 
}

.start-button:hover {
    background-color: #6d213c;
    color: white;
    transition: background 0.5s;
    cursor: pointer;
}

.bg-container {
    position: relative;
    min-height: 375px;
    height: auto;
    width: auto;
}

.bg-img {
    box-sizing: border-box;
    background-image: url('images/topImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 375px; 
    position: relative;
    z-index: 1;
}

.bg-txt {
    position: relative;
    color: white;
    font-size: 72px;
    padding-top: 25px;
    padding-left: 25px;
    margin-right: 750px;
    padding-bottom: 25px;
    z-index: 2;
}

.bg-grdnt {
    background: linear-gradient(90deg, #6d213c, #6d213c00);
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-hd {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 25px;
}


.main-img {
    width: 35%;
    display: flex;
}

/* ----- */

.container {
    display: flex;
    justify-content: center;
}

.main-cont-1 {
    max-width: 500px;
    max-height: 500px;
}

.main-cont-2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    padding-left: 2rem;
}

.main-cont-2 p {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    height: 75px;
}

.btt {
    color: white;
}

/* Image carousel */
.car-container {
    padding-right: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    max-height: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 1/1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a.hover {
    opacity: 1;
}

/* Start Button */
.start-button {
    justify-content: flex-start;
    margin: 0;
    border: 1px solid #6d213c;
    border-radius: 5px;
    padding: 5px 10px; 
}

.start-button:hover {
    background-color: #6d213c;
    color: white;
    transition: background 0.5s;
    cursor: pointer;
}